In [1]:
from Scrapers.Coinmarketcap import coinmarketcap

In [2]:
cmk = coinmarketcap.CoinMarketcap()

In [3]:
coin_data = cmk.all_coin_data()

In [4]:
#features:
#    name
#    symbol
#    relative url
#    price
#    timestamp
#    marketcap
#    volume
#    github_stars

coin_data.head()

,marketcap,name,price,symbol,url,volume
0,189536000000,Bitcoin,11231.80,BTC,http://coinmarketcap.com/currencies/bitcoin/,9926540000
1,92206500000,Ethereum,943.57,ETH,http://coinmarketcap.com/currencies/ethereum/,2545260000
2,44648100000,Ripple,1.14,XRP,http://coinmarketcap.com/currencies/ripple/,806673000
3,26199800000,Bitcoin Cash,1543.27,BCH,http://coinmarketcap.com/currencies/bitcoin-cash/,820947000
4,12335100000,Litecoin,223.09,LTC,http://coinmarketcap.com/currencies/litecoin/,1739670000

In [5]:
coins = cmk.coins()

In [7]:
bitcoin = coins[0]

In [8]:
bitcoin

{'name': 'Bitcoin', 'relative_url': '/currencies/bitcoin/'}

In [10]:
bitcoin = cmk.coin(bitcoin)

In [11]:
bitcoin

In [12]:
bitcoin.get_history()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Feb 20, 2018",11231.80,11958.50,11231.80,11403.70,9926540000,189536000000
1,"Feb 19, 2018",10552.60,11273.80,10513.20,11225.30,7652090000,178055000000
2,"Feb 18, 2018",11123.40,11349.80,10326.00,10551.80,8744010000,187663000000
3,"Feb 17, 2018",10207.50,11139.50,10149.40,11112.70,8660880000,172191000000
4,"Feb 16, 2018",10135.70,10324.10,9824.82,10233.90,7296160000,170960000000
5,"Feb 15, 2018",9488.32,10234.80,9395.58,10166.40,9062540000,160025000000
6,"Feb 14, 2018",8599.92,9518.54,8599.92,9494.63,7909820000,145023000000
7,"Feb 13, 2018",8926.72,8958.47,8455.41,8598.31,5696720000,150516000000
8,"Feb 12, 2018",8141.43,8985.92,8141.43,8926.57,6256440000,137258000000
9,"Feb 11, 2018",8616.13,8616.13,7931.10,8129.97,6122190000,145245000000
10,"Feb 10, 2018",8720.08,9122.55,8295.47,8621.90,7780960000,146981000000
11,"Feb 09, 2018",8271.84,8736.98,7884.71,8736.98,6784820000,139412000000
12,"Feb 08, 2018",7637.86,8558.77,7637.86,8265.59,9346750000,128714000000
13,"Feb 07, 2018",7755.49,8509.11,7236.79,7621.30,9169280000,130683000000
14,"Feb 06, 2018",7051.75,7850.70,6048.26,7754.00,13999800000,118810000000
15,"Feb 05, 2018",8270.54,8364.84,6756.68,6955.27,9285290000,139325000000
16,"Feb 04, 2018",9175.70,9334.87,8031.22,8277.01,7073550000,154553000000
17,"Feb 03, 2018",8852.12,9430.75,8251.63,9174.91,7263790000,149085000000
18,"Feb 02, 2018",9142.28,9142.28,7796.49,8830.75,12726900000,153953000000
19,"Feb 01, 2018",10237.30,10288.80,8812.28,9170.54,9959400000,172372000000
20,"Jan 31, 2018",10108.20,10381.60,9777.42,10221.10,8041160000,170183000000
21,"Jan 30, 2018",11306.80,11307.20,10036.20,10106.30,8637860000,190339000000
22,"Jan 29, 2018",11755.50,11875.60,11179.20,11296.40,7107360000,197871000000
23,"Jan 28, 2018",11475.30,12040.30,11475.30,11786.30,8350360000,193133000000
24,"Jan 27, 2018",11174.90,11614.90,10989.20,11440.70,7583270000,188054000000
25,"Jan 26, 2018",11256.00,11656.70,10470.30,11171.40,9746200000,189398000000
26,"Jan 25, 2018",11421.70,11785.70,11057.40,11259.40,8873170000,192163000000
27,"Jan 24, 2018",10903.40,11501.40,10639.80,11359.40,9940990000,183419000000
28,"Jan 23, 2018",10944.50,11377.60,10129.70,10868.40,9660610000,184087000000
29,"Jan 22, 2018",11633.10,11966.40,10240.20,10931.40,10537400000,195645000000

In [13]:
cmk.coin_names()

['Bitcoin',
 'Ethereum',
 'Ripple',
 'Bitcoin Cash',
 'Litecoin',
 'Cardano',
 'NEO',
 'Stellar',
 'EOS',
 'Dash',
 'IOTA',
 'Monero',
 'NEM',
 'Ethereum Classic',
 'TRON',
 'VeChain',
 'Lisk',
 'Qtum',
 'Bitcoin Gold',
 'Tether',
 'OmiseGO',
 'ICON',
 'Zcash',
 'Verge',
 'Steem',
 'Bytecoin',
 'Binance Coin',
 'Nano',
 'Populous',
 'Stratis',
 'RChain',
 'Siacoin',
 'Waves',
 'Dogecoin',
 'Status',
 'DigixDAO',
 'Maker',
 'BitShares',
 'Aeternity',
 'Waltonchain',
 'Veritaseum',
 'Augur',
 'ZClassic',
 'Komodo',
 'Decred',
 'Revain',
 '0x',
 'Hshare',
 'Electroneum',
 'Ardor',
 'Gas',
 'Ark',
 'KuCoin Shares',
 'Basic Attenti...',
 'Syscoin',
 'DigiByte',
 'Zilliqa',
 'Dragonchain',
 'Bytom',
 'Loopring',
 'aelf',
 'Cryptonex',
 'MonaCoin',
 'QASH',
 'PIVX',
 'Golem',
 'Nebulas',
 'Kyber Network',
 'Byteball Bytes',
 'Dentacoin',
 'Aion',
 'Bitcore',
 'IOStoken',
 'Ethos',
 'ReddCoin',
 'GXShares',
 'Polymath',
 'ZCoin',
 'Factom',
 'Power Ledger',
 'Dent',
 'FunFair',
 'ChainLink',
 'Kin',
 'SALT',
 'Nxt',
 'Pillar',
 'Cindicator',
 'Bancor',
 'MaidSafeCoin',
 'Vertcoin',
 'Particl',
 'Enigma',
 'Neblio',
 'Emercoin',
 'TenX',
 'Blocknet',
 'Request Network',
 'SmartCash',
 'GameCredits']